<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>controller.homepage.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistory</servlet-name>
        <servlet-class>controller.homepage.TransactionHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/updateuserprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistory</servlet-name>
        <url-pattern>/transactionhistory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>vnpayReturn</servlet-name>
        <servlet-class>com.vnpay.common.vnpayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vnpayReturn</servlet-name>
        <url-pattern>/vnpayReturn/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
</web-app>
